[Unit]Description = RsduOmsServerAfter = network.target[Service]PermissionsStartOnly = truePIDFile = /run/omsserver/omsserver.pidUser = omsserverGroup = www-dataWorkingDirectory = /var/www/omsserverExecStartPre = /bin/mkdir /run/omsserverExecStartPre = /bin/chown -R omsserver:www-data /run/omsserverExecStart = /var/www/omsserver/venv/bin/gunicorn omsserver:app --worker-class gevent -w 2 --bind 0.0.0.0:5000 --pid /run/omsserver/omsserver.pid --access-logfile /var/log/omsserver.logExecReload = /bin/kill -s HUP $MAINPIDExecStop = /bin/kill -s TERM $MAINPIDExecStopPost = /bin/rm -rf /run/omsserverPrivateTmp = true[Install]WantedBy = multi-user.target